<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stimulation Software</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/homepage.css') }}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</head>
<body>
    <div class="container">
        <nav class="sidebar">
            <ul>
                <li><a href="#"><img src="{{ url_for('static', filename='images/logo.png') }}" alt="Logo"></a></li>
                <li><a href="#">Stimulation</a></li>
            </ul>
        </nav>
        <div class="elements">
            <h2 id="Head-text">Stimulation Details</h2>
            <form id="stimulationForm" action="submit-form" method="POST" enctype="multipart/form-data">
                <div class="form-group">
                    <div class="form-item">
                        <label for="mill">Mill Name:</label>
                        <select id="mill" name="mill">
                            <option value="" disabled selected>Select mill</option>
                        </select>
                    </div>
                    <div class="form-item">
                        <label for="machine">Machine Name:</label>
                        <select id="machine" name="machine">
                            <option value="" disabled selected>Select machine</option>
                        </select>
                    </div>
                </div>

                <div class="form-group">
                    <label>Type of validation:</label>
                    <div>
                        <select id="validationType" name="validationType">
                            <option value="fp">FP</option>
                            <option value="tp">TP</option>
                            <option value="fda">FDA</option>
                        </select>
                        <input type="text" id="folderpath" name="folderpath" placeholder="Enter FolderPath">
                    </div>
                </div>

                <!-- Added file upload field -->
                <div class="form-group">
                    <label for="fileUpload">Upload File:</label>
                    <input type="file" id="fileUpload" name="fileUpload">
                </div>

                <div class="form-group">
                    <div class="form-item">
                        <label for="score">Score:</label>
                        <input type="text" id="score" name="score" placeholder="Enter score">
                    </div>

                    <div class="form-item">
                        <label for="fps">FPS:</label>
                        <input type="text" id="fps" name="fps" placeholder="Enter FPS">
                    </div>
                    <div class="form-item">
                        <label for="report">Report:</label>
                        <select id="report" name="report">
                            <option value="yes">Yes</option>
                            <option value="no">No</option>
                        </select>
                    </div>
                </div>
                <button type="submit">Submit</button>
            </form>
        </div>
    </div>
    <script src="{{ url_for('static', filename='js/homepage.js') }}"></script>
</body>
</html>